.c-container{
    /* border: 2px solid blue; */
    height: 400px;
    display: flex;
    gap: 30px;
}
.c-container-cont{
    /* border: 2px solid orange; */
    width: 300px;
    height: 400px;
}
.c-container-cont-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url(C:\Users\dheep\OneDrive\Desktop\demo\react\grabit\src\assets\con4img.png);
    background-size: cover;
    background-position: center;
}
.img-t1-subt1{
    font-weight: bold;
    font-size: 23px;
}
.img-ti-subt1-but{
    width: 100px;
    height: 35px;
    background-color: #5CAF90;
    border: 1px solid #5CAF90;
    color: white;
    border-radius: 5px;
}
.c-container-cont-img-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 25px;
    padding-top: 20px;
    cursor: pointer;
}
.c-container-cont1{
    /* border: 2px solid orchid; */
}
.c-container-cont1-sub{
    /* border: 2px solid brown; */
    display: flex;
    gap: 30px;
}
.c-container-cont1-sub-sub1{
    /* border: 2px solid black; */
    width: 295px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.c-container-cont1-sub-sub1 span{
    cursor: pointer;
}
.c-container-cont1-sub-sub1 span:hover{
    color: #5CAF90;
    transition: 0.5s;
}
.hed1{
    font-size: 20px;
    font-weight: bold;
}
.c-container-cont2{
    /* border: 2px solid lawngreen; */
    width: 950px;
    height: 0px;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
    margin-top: 18px;
}
.c-container-cont2-sub-sub1{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 298px;
    height: 100px;
    display: flex;
    gap: 5px;
}
.c-container-cont2-head{
    /* border: 2px solid yellow; */
    width: 930px;
    height: 30px;
}
.c-container-cont2-sub-sub1-sub1{
    /* border: 2px solid purple; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.c-container-cont2-sub-sub1-sub2{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 290px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 5px;
    cursor: pointer;
}
.s1{
    color: black
}
.s2{
    color: #9A9A9A;
}
.c-container-cont2-sub-sub1-sub1 img{
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

@media (max-width: 1024px) {

  .c-container {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  .c-container-cont {
    width: 100%;
    height: 320px;
  }

  .c-container-cont1 {
    width: 100%;
  }

  .c-container-cont1-sub {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-container-cont1-sub-sub1 {
    width: 45%;
    margin-bottom: 15px;
  }

  .c-container-cont2 {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }

  .c-container-cont2-sub-sub1 {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .c-container {
    flex-direction: column;
    align-items: center;
  }

  .c-container-cont {
    width: 90%;
    height: 300px;
  }

  .c-container-cont-img-content {
    padding-left: 15px;
  }

  .img-t1-subt1 {
    font-size: 20px;
  }

  .c-container-cont1-sub {
    flex-direction: column;
    gap: 15px;
  }

  .c-container-cont1-sub-sub1 {
    width: 100%;
  }

  .c-container-cont2 {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
  }

  .c-container-cont2-head {
    width: 100%;
  }
}

@media (max-width: 480px) {

  .img-t1-subt1 {
    font-size: 18px;
  }

  .img-ti-subt1-but {
    width: 90px;
    height: 32px;
    font-size: 14px;
  }

  .c-container-cont2-sub-sub1 {
    height: auto;
    padding: 5px;
  }

  .c-container-cont2-sub-sub1-sub1 img {
    width: 60px;
    height: 60px;
  }

  .s1 {
    font-size: 14px;
  }

  .s2 {
    font-size: 13px;
  }
}
