 img{
  width: 100%;
 }
.carousel-cont{
    /* border: 2px solid black; */
    height: 50vh;
    width: 600px;
    margin-left: -80px;

}
.carousel-cont-content{
    color: black;
}
.carousel-cont-content{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 28px;
}
.carousel-cont-t1{
    font-size: 20px;
    color: #5CAF90;
}
.carousel-cont-t2{
    font-size: 50px;
    line-height: 60px;
    color: #4B5966;
    font-weight: bold;
}
/* #shop{
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: #4B5966;
    color: white;
    cursor: pointer;
} */
.carousel-cont-t3-btn:hover{
    background-color: #5CAF90;
    /* transition: 0.5s; */
}
/* #shop:hover{
    background-color: #5CAF90;
} */


#shop{
    background-color: red;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #4B5966;
    color: white;
    cursor: pointer;
    margin-left: 80px;
}

#shop:hover{
    
    background-color: #5CAF90;
}

@media (max-width: 1024px) {

  .carousel-cont {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .carousel-cont-content {
    gap: 20px;
  }

  .carousel-cont-t2 {
    font-size: 40px;
    line-height: 48px;
  }

  #shop {
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  .carousel-cont {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .carousel-cont-content {
    align-items: center;
    text-align: center;
  }

  .carousel-cont-t1 {
    font-size: 18px;
  }

  .carousel-cont-t2 {
    font-size: 28px;
    line-height: 36px;
  }

  #shop {
    width: 160px;
    height: 38px;
    font-size: 16px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {

  .carousel-cont-t1 {
    font-size: 16px;
  }

  .carousel-cont-t2 {
    font-size: 22px;
    line-height: 30px;
  }

  #shop {
    width: 140px;
    height: 36px;
    font-size: 15px;
  }
}
